$color-main: #274c75;
$color-shadow: #dcdde1;
$color-background: #40739e;
$color-text-dark: #192a56;
$color-text-light: #ffffff;
$transition: all 1s;


/* Navigation */

.navigation {
    text-align: right;
	margin: 110px 470px;
  

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        
        li {
            display: inline-block;
            position: relative;
            
			a {
                text-decoration: none;
                color: $color-text-light;
                white-space: nowrap;
				font-variant: small-caps;
				padding: 15px;
            }
        }
    }
}
